
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<!--[if gte mso 9]><xml>
		<o:OfficeDocumentSettings>
		<o:AllowPNG/>
		<o:PixelsPerInch>96</o:PixelsPerInch>
		</o:OfficeDocumentSettings>
	</xml><![endif]-->
	<style>
	* {
		margin: 0;
		padding: 0;
	}
	body {
		padding: 0;
	}
	area {
		outline: none;
	}
	img {
		outline: none;
		border: 0;
		border-style: none;
		padding: 0;
		margin: 0;
		height: auto;
		-ms-interpolation-mode: bicubic;
	}
	.table-width{
		width:700px;
		max-width:700px;
	}
	@media screen and (max-width: 700px) {
		.table-width{
		width: 100%;
		max-width: 100%;
		}
	}
	</style>
</head>
