:root {
    --def-head-font: 'Protest Strike', sans-serif;
    --def-font: 'Lexend', 'sans-serif';
} 

html{
    scrollbar-width: thin;
}
@media only screen and (max-width: 1180px) {
    html{
        scrollbar-width: none;
    }
}

html body{
    font-family: var(--def-font);
}

.invert{
    filter: invert(1);
}

.uppercase{
    text-transform: uppercase;
}

html .h5, html h5{
    font-size: 1.65rem;
  }

html .h1, html h1{
  font-size: calc(1.75rem + 1.5vw);
}

h3 a{
    color: var(--bs-heading-color);
}