

.nav-spacer{
    min-height: 56px;
}

.gradient-text{
    width:fit-content;
    font-family: var(--def-head-font);
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(135deg, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(135deg, #f64f59, #c471ed, #12c2e9); 

    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.gradient-header{
    width:fit-content;
    font-family: var(--def-head-font);

    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(135deg, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(135deg, #f64f59, #c471ed, #12c2e9); 

    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.gradient-hover:hover{
    width:fit-content;

    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(135deg, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(135deg, #f64f59, #c471ed, #12c2e9); 

    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}


input.gradient-button, button.gradient-button, a.gradient-button{
    font-family: var(--def-head-font);
    font-size: 1.2rem;

    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(135deg, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(135deg, #f64f59, #c471ed, #12c2e9); 

    background-color: none;
    border: none;
}


.theme-picker{
    margin: 20px;
    z-index: 1200;
    cursor: pointer;
}


.mobile-banner{
    display: none;
}
@media only screen and (max-width: 450px) {

    .banner{
        display: none;
    }

    .mobile-banner{
        display: block;
    }
}