        {% load static %}

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/png" href="{% static 'main_site/img/icons/favicon.ico' %}"/>

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'edm_tool/css/default.css' %}">
        <link rel="stylesheet" href="{% static 'edm_tool/css/header.css' %}">
        <link rel="stylesheet" href="{% static 'edm_tool/css/main.css' %}">

        <link rel="stylesheet" href="{% static 'edm_tool/css/tool/nav.css' %}">
        <link rel="stylesheet" href="{% static 'edm_tool/css/tool/general.css' %}">
        <link rel="stylesheet" href="{% static 'edm_tool/css/tool/canvas.css' %}">
        <link rel="stylesheet" href="{% static 'edm_tool/css/tool/code.css' %}">
        <link rel="stylesheet" href="{% static 'edm_tool/css/tool/editor.css' %}">

        
        <link rel="stylesheet" href="{% static 'main_site/css/color_wipe.css' %}">
        
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend&family=Open+Sans&family=Protest+Strike&display=swap" rel="stylesheet"> 

        

        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

        <!-- localforge --> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.9.0/localforage.min.js"></script>

        <!-- Code Mirror -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/codemirror.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/css/css.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/xml/xml.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/javascript/javascript.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/htmlmixed/htmlmixed.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/codemirror.css"></link>

        <!-- Code Formatting -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.14.6/beautify-html.js"></script>
