<header>
  <nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand wipe-transition" href="{% url 'site-home' %}">SIMONE</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <a class="navbar-brand wipe-transition" href="{% url 'site-home' %}">SIMONE</a>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link wipe-transition" href="{% url 'news_analysis-analysis' %}">AI News Analysis Tool</a>
            </li>
            <li class="nav-item dropdown">
              <div class="nav-item-group">
                <a class="nav-link wipe-transition" href="{% url 'site-projects' %}" aria-expanded="false">
                  Projects
                </a>
                <a class="nav-link dropdown-toggle dropdown-toggle-split px-2"  href="{% url 'site-projects' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="visually-hidden">Toggle Dropdown</span>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item wipe-transition" href="{% url 'edm_tool-home' %}">Email Creation Tool</a></li>
                  <li><a class="dropdown-item wipe-transition" href="{% url 'news_analysis-analysis' %}">AI News Analysis</a></li>
                  <li><a class="dropdown-item wipe-transition" href="#">Project 3</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link wipe-transition" href="{% url 'site-resume' %}">Resume</a>
            </li>
            <li class="nav-item">
              <a class="nav-link wipe-transition" href="{% url 'site-contact' %}">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link wipe-transition" href="{% url 'site-references' %}">References</a>
            </li>
            <li class="nav-item">
              <a class="nav-link wipe-transition" href="{% url 'site-about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link wipe-transition" href="{% url 'site-geolocate' %}">IP Information</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="nav-spacer"></div>
</header>