
{% extends "main_site/master.html"%}
{% load static %}
{% block content %}
    <div class="mt-3">
        <img src="{% static 'main_site/img/images/main_banner.png' %}" alt="Banner" class="w-100 banner">
        <img src="{% static 'main_site/img/images/main_banner_mobile_450.png' %}" alt="Banner" class="w-100 mobile-banner ">
    </div>

    <div class="mt-3">
        I'm Lucas Simone, a dedicated computer scientist with a passion for innovation and a drive to use technology 
        for positive change. With my background in digital branding, I've refined my skills through hands-on experience, 
        meticulously maintaining websites, databases, and crafting impactful email campaigns. During my time at Joey Ai, 
        I ensured the seamless functioning of online platforms while also innovating by developing tools like an intuitive 
        email creation tool to boost efficiency.
    </div>
    <div class="mt-3">
        Motivated by a desire to make a difference, I seek opportunities where I can tackle new challenges and 
        improve the quality of life for others. I envision using technology to create meaningful connections and empower individuals and businesses 
        alike. Embracing a philosophy of lifelong learning, I eagerly collaborate with seasoned professionals to expand my 
        skill set and stay at the forefront of advancements in computer science. Join me on my journey as I continue to grow 
        as a developer, bringing my unique blend of skills and dedication to every project I undertake. If you're interested in 
        enhancing your team, feel free to reach out.
    </div>
    <div class="mt-3">
        Please explore the website and check out some of the projects I've worked on. I value your feedback, 
        so please don't hesitate to share your thoughts. Have a great time browsing!
    </div>
    <div class="mt-3">
        Want to see that intro animation again?
    </div>
    <button class="btn gradient-button mt-2" id="play_intro">PLAY INTRO</button>
{% endblock content %}
