
{% extends "main_site/master.html"%}
{% block content %}
    <h1 class="gradient-header mt-2">Projects</h1>

    <h2 class="mt-4">Email Creation Tool</h2>
    <div class="mt-3">
        I developed this tool while working at Joey Ai to enhance the email creation processes. The tool is
        primarily coded in JavaScript, Using canvas where users can upload images, slice them into different parts, and 
        automatically generate HTML code for sending it through an email. *Note: Not intended for mobile.
    </div>
    <a class="btn gradient-button mt-3 wipe-transition" href="{% url 'edm_tool-home' %}">DEMO</a>

    <h2 class="mt-4">AI News Analysis</h2>
    <div class="mt-3">

        Leveraging a news API, this tool fetches the top 50 articles relating to bitcoin daily, which are then analyzed using ChatGPT to filter out 
        irrelevant ones and provide a concise summary of each article's sentiment towards Bitcoin, distinguishing between 
        positive and negative viewpoints. The overall outlook is determined by the ratio of positive to negative articles 
        within the specified date range. While currently straightforward, future iterations could enhance accuracy and 
        sophistication by refining article data, assigning varying degrees of "weight" or impact based on factors such 
        as news publisher credibility or article popularity, ensuring more nuanced insights for users.
        
    </div>
    <a class="btn gradient-button mt-3 wipe-transition" href="{% url 'news_analysis-analysis' %}">VIEW</a>


{% endblock content %}
