
{% extends "main_site/master.html"%}
{% block content %}
    <h1 class="gradient-header">Projects</h1>

    <h2 class="mt-5">Email Creation Tool</h2>
    <div class="mt-3">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make 
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, 
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem 
        Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </div>
    <a class="btn gradient-button mt-3 wipe-transition" href="{% url 'edm_tool-home' %}">VIEW</a>

    <h2 class="mt-5">Django Mailing Service</h2>
    <div class="mt-3">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make 
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, 
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem 
        Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </div>
    <a class="btn gradient-button mt-3 wipe-transition" href="{% url 'site-home' %}">VIEW</a>

    <h2 class="mt-5">News API search and AI summary</h2>
    <div class="mt-3">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make 
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, 
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem 
        Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </div>
    <a class="btn gradient-button mt-3 wipe-transition" href="{% url 'site-home' %}">VIEW</a>

{% endblock content %}
