
{% extends "main_site/master.html"%}
{% load static %}
{% block content %}
    
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="pt-3">Lucas Simone</h1>
        <div>
            <a href="{% static 'main_site/media/resume/Lucas_Simone_Resume_Placeholder.pdf' %}" download><img width='45' height="45" src="{% static 'main_site/img/icons/floppy-disk-solid.svg' %}" alt="Download Resume"></a>
        </div>
    </div>

    <div class="row">
        <div class="row col-xl-6">
            <div class="col-md-6 d-flex justify-content-xl-start d-flex">
                <a href="mailto:lucas.simone.careers@gmail.com" target="_blank" class="gradient-hover">lucas.simone.careers@gmail.com</a>
            </div>
            <div class="col-md-6 d-flex justify-content-xl-end justify-content-md-end">Missisauga ON</div>
        </div>
        <div class="row col-xl-6">
            <div class="col-md-6 d-flex justify-content-xl-end">
                <a href="https://www.linkedin.com/in/lucassimone/" target="_blank" class="gradient-hover">Linkedin</a>
            </div>
            <div class="col-md-6 d-flex justify-content-xl-end justify-content-md-end">
                <a href="https://github.com/LucasSimone" target="_blank" class="gradient-hover">Github</a>
            </div>
        </div>
    </div>

    <hr class="my-2">

    <div class="fw-bold mt-4">WORK EXPERIENCE</div>
    <hr class="my-1">
    <div class="fw-bold d-flex justify-content-between"><span><a href="https://www.joeyai.com/" target="_blank" class="gradient-hover">Joey AI</a></span><span>May. 2022 – Present</span></div>
    <div class="fst-italic">Junior Developer</div>
    <ul class="mb-0">
        <li>Joey AI is a digital branding firm etc</li>
        <li>As a developer I maintained different websites and programmed email templates</li>
        <li>Independently developed a email template tool allowing access for people without programming knowledge to create email templates in a easy and efficient manner</li>
        <li>Created, managed and executed SQL queries on various databases</li>
    </ul>
    <div class="fw-bold d-flex justify-content-between mt-3"><span><a href="https://ontariotechu.ca/" target="_blank" class="gradient-hover">Ontario Tech</a></span><span>Jan. 2020 – May. 2020</span></div>
    <div class="fst-italic">Teaching Assistant</div>
    <ul>
        <li>Ontario Tech is a digital branding firm etc</li>
        <li>As a developer I maintained different websites and programmed email templates</li>
        <li>Independently developed a email template tool allowing access for people without programming knowledge to create email templates in a easy and efficient manner</li>
        <li>Created, managed and executed SQL queries on various databases</li>
    </ul>

    <div class="fw-bold mt-5">EDUCATION</div>
    <hr class="my-1">
    <div class="fw-bold d-flex justify-content-between"><span>Computer Science Comprehensive Program</span><span>2021</span></div>
    <div class="">University of Ontario Institute of Technology, Oshawa, Ontario</div>

    <div class="fw-bold mt-5">TECHNICAL SKILLS</div>
    <hr class="my-1">
    <ul class="mb-0">
        <li>Joey AI is a digital branding firm etc</li>
        <li>As a developer I maintained different websites and programmed email templates</li>
        <li>Independently developed a email template tool allowing access for people without programming knowledge to create email templates in a easy and efficient manner</li>
        <li>Created, managed and executed SQL queries on various databases</li>
    </ul>

    <div class="fw-bold mt-5">CERTIFICATIONS, SKILLS & INTERESTS</div>
    <hr class="my-1">
    <ul class="mb-0">
        <li>Joey AI is a digital branding firm etc</li>
        <li>As a developer I maintained different websites and programmed email templates</li>
        <li>Independently developed a email template tool allowing access for people without programming knowledge to create email templates in a easy and efficient manner</li>
        <li>Created, managed and executed SQL queries on various databases</li>
    </ul>

    <div class="mt-5">Enter your email here to send this resume to your email.</div>

{% endblock content %}
