
{% extends "main_site/master.html"%}
{% load static %}
{% block content %}
    
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="pt-3">Lucas Simone</h1>
        <div>
            <a href="{% static 'main_site/media/resume/Lucas_Simone_Resume.pdf' %}" download><img width='45' height="45" src="{% static 'main_site/img/icons/floppy-disk-solid.svg' %}" alt="Download Resume"></a>
        </div>
    </div>

    <div class="row">
        <div class="row col-xl-6">
            <div class="col-md-6 d-flex justify-content-xl-start d-flex">
                <a href="mailto:lucas.simone.careers@gmail.com" target="_blank" class="gradient-hover">lucas.simone.careers@gmail.com</a>
            </div>
            <div class="col-md-6 d-flex justify-content-xl-end justify-content-md-end">Mississauga, ON</div>
        </div>
        <div class="row col-xl-6">
            <div class="col-md-6 d-flex justify-content-xl-end">
                <a href="https://www.linkedin.com/in/lucassimone/" target="_blank" class="gradient-hover">Linkedin</a>
            </div>
            <div class="col-md-6 d-flex justify-content-xl-end justify-content-md-end">
                <a href="https://github.com/LucasSimone" target="_blank" class="gradient-hover">Github</a>
            </div>
        </div>
    </div>

    <hr class="my-2">

    <div class="fw-bold mt-4">WORK EXPERIENCE</div>
    <hr class="my-1">
    <div class="fw-bold d-flex justify-content-between"><span><a href="https://www.joeyai.com/" target="_blank" class="gradient-hover">Joey AI</a></span><span>May. 2022 – Present</span></div>
    <div class="fst-italic">Junior Developer</div>
    <ul class="mb-0">
        <li>Joey AI  is a digital branding firm specializing in empowering small to medium businesses with a robust online presence and streamlined workflow tools.</li>
        <li>Using my skills in JavaScript, PHP, and system design, I took on the task of developing an email creation tool, aimed at simplifying the creation process and lowering the entry barrier for users without programming knowledge. This resulted in a significant reduction in the time and difficulty associated with creating emails and streamlined the process down to one application.</li>
        <li>Knowledge of databases and SQL skills enabled me to create custom queries tailored to specific contact requirements. As a result, I successfully delivered hundreds of email campaigns targeting the correct groups, ensuring on-time delivery and accuracy. Additionally, I maintained correct and up-to-date information across multiple websites, contributing to enhanced efficiency and user satisfaction.</li>
        <li>Drawing upon my proficiencies in JavaScript, PHP, CSS, and HTML, I was responsible for maintaining existing websites while simultaneously developing new features. I swiftly implemented updates and enhancements, resulting in the rapid delivery of new features across multiple sites. As a result, clients experienced heightened satisfaction with the timely and continuous improvement of their online platforms.</li>
    </ul>

    <div class="fw-bold d-flex justify-content-between mt-3"><span><a href="https://ontariotechu.ca/" target="_blank" class="gradient-hover">Ontario Tech</a></span><span>Jan. 2020 – May. 2020</span></div>
    <div class="fst-italic">Teaching Assistant</div>
    <ul>
        <li>I employed strong course knowledge, communication, and interpersonal skills to assist students in comprehending course material thoroughly, thereby resulting in improved grades.</li>
    </ul>

    <div class="fw-bold mt-5">EDUCATION</div>
    <hr class="my-1">
    <div class="fw-bold d-flex justify-content-between"><span>Computer Science Comprehensive Program</span><span>2021</span></div>
    <div class="">University of Ontario Institute of Technology, Oshawa, Ontario</div>

    <div class="fw-bold mt-5">PROJECT EXPERIENCE</div>
    <hr class="my-1">
    <div>Scientific Data Analysis Course Project</div>
    <ul>
        <li>Utilized Python to preprocess and structure a Kaggle dataset focused on car crashes. Subsequently, conducted in-depth analysis using statistical methods, drawing meaningful insights and presenting our discoveries visually through pandas.</li>
    </ul>

    <div class="fw-bold mt-5">TECHNICAL SKILLS</div>
    <hr class="my-1">
    <div>Back End</div>
    <ul class="mb-0">
        <li>PHP, Django, Python, MySQL, PostgreSQL</li>
    </ul>
    <div>Front End</div>
    <ul class="mb-0">
        <li>JavaScript, CSS, HTML, Bootstrap</li>
    </ul>
    <div>Other</div>
    <ul class="mb-0">
        <li>Linux, Git</li>
    </ul>


{% endblock content %}
