<html data-bs-theme="dark">
    <head>

        <!-- Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    

        <!-- Title -->
        {% if title %}
        <title>Simone - {{title}}</title>
        {% else %}
        <title>Simone</title>
        {% endif %}

        <!-- Include -->
        {% include 'main_site/include/head.html' %} 

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NQT4MKDH');</script>
        <!-- End Google Tag Manager -->
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y4E16G3GXH"></script>
        <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'G-Y4E16G3GXH');
                gtag('config', 'G-BP6BE270PV');
        </script>
    </head>

    <body>
        
        <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NQT4MKDH"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        {% include 'main_site/include/color_wipe.html' %}


        {% include 'main_site/include/header.html' %} 


        <div class="container body-wrapper">

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-dismissible fade show alert-{{ message.tags }}" role="alert">
                        {{  message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}

            {% block content %}{% endblock %}

            {% include 'main_site/include/theme_picker.html' %} 
            
        </div>

  
        {% include 'main_site/include/footer.html' %} 


        {% include 'main_site/include/scripts.html' %}

    </body>

    {% if anchor %}
        <script>
            console.log("REDIRECT")
            $(document).ready(function(){
                window.location = '#{{ anchor }}'
            });
        </script>
    {% endif %}

</html>