
{% extends "edm_tool/master.html"%}
{% load static %}

{% block content %}

<div class="page-container">

    <div class="canvas-container d-none d-md-block" oncontextmenu="return false;">

      <!-- Upload File Popup-->
      <div class="popup png-upload-popup hide-import">
        <div class="close">X</div>
        <div class="title">Upload Png:</div>
        <div class="content">
          <div class="drag-area no-file">
            <img src="{% static 'edm_tool/img/icons/upload-solid.svg' %}"></img>
            <span class="drag-text">Drag file here or choose</span>
            <input type="file"></input>
          </div>
        </div>
      </div>
      
      <!-- Canvas's -->
      <canvas class="image-layer"></canvas>
      <canvas class="slice-layer"></canvas>


      <!-- Toolbar -->
      <div class="canvas-tool-bar">
        <div class="canvas-tool slice-wrap" title="PREVENT ERRORS"><img src="{% static 'edm_tool/img/icons/shield-solid.svg' %}"></div>
        <div class="canvas-tool slice-color" title="INVERT SLICE COLOR"><img src="{% static 'edm_tool/img/icons/palette-solid.svg' %}"></div>
        <div class="canvas-tool load-default" title="RESET DEFAULT EMAIL"><img src="{% static 'edm_tool/img/icons/rotate-right-solid.svg' %}"></div>
        <div class="canvas-tool bottom creation-mode" title="CREATION MODE"><img src="{% static 'edm_tool/img/icons/eraser-solid.svg' %}"></div>
        <!-- <div class="canvas-tool " title="INFO"><img src="/img/info-solid.svg"></div> -->
      </div>

      <!-- Canvas Mode -->
      <div class="canvas-mode">
        <div class="mode-text">MODE: CREATION</div>
      </div>

      <!-- CURRENT SLICE WIDTH HEIGHT -->
      <div class="slice-dimensions">
        <div class="dimension width">
          <span class="dim">W: </span>
          <div>
            <span id="w-pixels"></span>
            <span class="unit">px</span>
          </div>
        </div>
        <div class="dimension height">
          <span class="dim">H: </span>
          <div>
            <span id="h-pixels"></span>
            <span class="unit">px</span>
          </div>  
        </div>
      </div>

      <!-- SLICE OPTIONS -->
      <div class="expand-slice-options hide-import">
        <img src="{% static 'edm_tool/img/icons/expand-solid.svg' %}">
      </div>
      <div class="slice-code-options">

        <div class="option-header">
          <img class="collapse-slice-options" src="{% static 'edm_tool/img/icons/collapse-solid.svg' %}">
          <div>EDM OPTIONS</div>
        </div>

        <div class="option-content">
          <div class="top">
            <div class="section link-switch sso nss-hide">
              <div class="row">
                <div>LINK:</div>
                <div class="link-switch-container">
                  <div></div>
                </div>
              </div>
            </div>
            <div class="section link-options sso nss-hide hide-import">
              <div class="row">
                <input type="text" class="" id="slice-link" name="slice-link" placeholder=""></input>
              </div>
              <div class="row flex-start">
                <img class="link-icon email-link" title="EMAIL LINK" src="{% static 'edm_tool/img/icons/envelope-solid.svg' %}">
                <img class="link-icon tele-link" title="TELEPHONE LINK" src="{% static 'edm_tool/img/icons/phone-solid.svg' %}">
              </div>
            </div>
            <div class="section mailto-options sso nss-hide hide-import">
              <div class="row">
                <div>MAILTO OPTIONS:</div>
              </div>
              <div class="row input-split">
                <div>EMAIL:</div>
                <input type="text" class="" id="mailto-email" name="mailto-email" placeholder="email@email.com"></input>
              </div>
              <div class="row input-split">
                <div>SUBJECT:</div>
                <input type="text" class="" id="mailto-subject" name="mailto-subject" placeholder="Please Enter Email First." disabled></input>
              </div>
              <div class="row">
                <div>BODY:</div>
              </div>
              <div class="row">
                <textarea id="mailto-body" name="mailto-body" rows="6" placeholder="Please Enter Email and Subject First." disabled></textarea>
              </div>
            </div>
            <div class="section sso nss-hide">
              <div class="row color-split ">
                <div>SLICE COLOR:</div>
                <div class="color-fields slice-dropper">
                  <div class="color-box"></div>
                  #<input type="text" class="" id="slice-color" name="slice-color" placeholder="NONE"></input>
                </div>
              </div>
            </div>
            <div class="section sso nss-hide">
              <div class="row inline-title-input">
                <div class="row">
                  <div>ALT TAG:</div><input type="text" class="" id="alt-tag" name="alt-tag" placeholder=""></input>
                </div>
              </div>
            </div>
          </div>
          <div class="bottom">
            <div class="section full-edm-options">
              <div class="row color-split">
                <div>MAIN COLOR:</div>
                <div class="color-fields main-dropper">
                  <div class="color-box"></div>
                  #<input type="text" class="" id="main-color" name="main-color" placeholder="" value="ffffff"></input>
                </div>
              </div>
              <div class="row inline-title-input">
                <div>EDM TITLE:&nbsp;</div><input type="text" class="" id="edm-title" name="edm-title" placeholder=""></input>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- EXPORT BUTTON -->
      <div class="export-slices">
        <img src="{% static 'edm_tool/img/icons/file-export-solid.svg' %}">
      </div>

      <!-- EXPORT POPUP -->
      <div class="popup slice-export-popup hide-import" >
        <div class="close">X</div>
        <div class="title">Export Slices</div>
        <div class="content">
          <div class="content-65">
            <div class="row">
              <div class="label">Image/Slice Name:</div>
              <div class="popup-field"><input type="text" class="" id="slice-name" name="slice-name" placeholder="55555"></input></div>
            </div>
            <!-- <div class="row">
              <div class="label">CLIENT:</div>
              <div class="client-dropdown">SELECT CLIENT<span>V</span></div>
              <div class="dropdown-selection hide-import"></div>
            </div>
            <div class="row">
              <div class="label">DATE FOLDER:</div>
              <div class="popup-field"><input type="text" class="" id="folder-date" name="folder-date" placeholder="20230511"></input></div>
            </div> -->
          </div>
          <div class="middle-line"></div>
          <div class="content-25">
              <div class="slice-download popup-button">DOWNLOAD</div>
              <div class="generate-html popup-button">GENERATE HTML</div>
          </div>
        </div>
      </div>

      <!-- DIMENSIONS ATTCHED TO MOUSE -->
      <div class="mouse-dimensions hide-import">
        <div class="mouse-dimension">
          <span>W: </span>
          <div>
            <span id="w-mouse">px</span>
          </div>
        </div>
        <div class="mouse-dimension">
          <span>H: </span>
          <div>
            <span id="h-mouse">px</span>
          </div>
        </div>
      </div>

      <!-- COLOR SELECTOR -->
      <div class="color-selector hide-import">
        <div class="color-border">
          <div class="inside-border">
            <div class="middle-point"></div>
          </div>
        </div>
      </div>

      <div class="movement-tips popup overflow-y-scroll hide-import">
        <div class="close">X</div>
        <div class="h-100 w-100 p-4">
          <h3 class="">How to move the image:</h3>
          <ul>
            <li>Hold right click on the canvas and drag your mouse to move the image wherever you like.</li>
            <li>Scrolling will move the image vertically</li>
            <li>Hold the shift key + scrolling will move the image horizontally</li>
            <li>Hold the alt key + scrolling will zoom the image in and out. <small>Note for Mozilla you will need to change a setting in the about:config.</small></li>
            <li>
                Zooming in very close to the image will make a grid appear showing you the pixel borders, for precise slice creation.
                The grid is white by default. If you are having trouble seeing it on a white background EDM you can click the palette in the 
                <span class="sub-link" data-hash="toolbar">toolbar</span> and it will change the grid color to black.
            </li>
          </ul>
        </div>
      </div>

    </div>

    <div class="d-block d-md-none mobile-container w-100 h-100">
      <div class="container pt-4">
        <h2 class="mt-4">Sorry please view this tool on desktop.</h2>
      </div>
    </div>

  </div>

  <script type="module" src="{% static 'edm_tool/js/canvas.js' %}"></script>


{% endblock content %}
