
{% extends "edm_tool/master.html"%}
{% block content %}
    <div class="container">
        <h1>Home Page</h1>
        <div>
            This is the tool. Instructions on how it works. For a more detailed explination you can click on the info icon in the nav. 
            start by clicking on CANVAS in the NAV or click here.
            <br><br>
            Not inteded for mobile use. If you are viewing from a mobile device this tool will not diplay or work as intended. 
            <br><br>
            If you are in Mozilla the alt key will get in the way of full functionality. There are some setting you can change or view from chrome.
            <br><br>
            You can upload your own image to the canvas to cut it up add links and even generate the HTML but the images will not be saved anywhere. To play around in the editor
            please use the default Email image and slices. 
            <br> <br>
            If you are using the tool to generate HTML you will need to download the images from the canvas export and host them somewhere. Modifying the img src's in the HTML to point to your hosting location.
            <br><br>
            There is more functionality with the actual implementation of this tool such as uploading gifs and files, replacing rows with new HTML code and replacing images stored of the server.
            but this is just a basic demonstration of the tool. Also I dont feel like paying to host all the files if anyone tries to use this tool example in practice.
        </div>
    </div>
    
{% endblock content %}
