
{% extends "edm_tool/master.html"%}
{% block content %}
    <div class="container">
        <h1>Home Page</h1>
        <div>
            This is the tool. Instructions on how it works. For a more detailed explination you can click on the info icon in the nav. 
            start by clicking on CANVAS in the NAV or click here.
            <br><br>
            Not inteded for mobile use. If you are viewing from a mobile device this tool will not diplay or work as intended. 
            <br><br>
            If you are in Mozilla the alt key will get in the way of full functionality. There are some setting you can change or view from chrome.
        </div>
    </div>
    
{% endblock content %}
