{% load static %}
{% load crispy_forms_tags %}
<div class="container-fluid">
    <footer class="mt-4 border-top">

        <div class="d-flex flex-wrap justify-content-lg-evenly justify-content-md-between align-items-top py-3">
            <div class="col-6 col-md-2 mb-5">
                <a class="nav-link wipe-transition" href="{% url 'site-home' %}"><h5 class="gradient-text">SIMONE</h5></a>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="{% url 'site-projects' %}" class="nav-link p-0 text-muted wipe-transition">Projects</a></li>
                    <li class="nav-item mb-2"><a href="{% url 'site-gallery' %}" class="nav-link p-0 text-muted wipe-transition">Gallery</a></li>
                    <li class="nav-item mb-2"><a href="{% url 'site-geolocate' %}" class="nav-link p-0 text-muted wipe-transition">IP Information</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-5">
                <h5 class="gradient-text">About Me</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="{% url 'site-resume' %}" class="nav-link p-0 text-muted wipe-transition">Resume</a></li>
                    <li class="nav-item mb-2"><a href="{% url 'site-contact' %}" class="nav-link p-0 text-muted wipe-transition">Contact</a></li>
                    <!-- <li class="nav-item mb-2"><a href="{% url 'site-references' %}" class="nav-link p-0 text-muted wipe-transition">References</a></li> -->
                </ul>
            </div>

            <div class="col-lg-4 col-md-6 mb-3" id="subscribe_form">
                <h5 class="gradient-header">Want to be contacted when I'm looking for work?</h5>
                <p class="text-muted">Drop your email here and I'll get in touch with you.</p>
                {% crispy subscribe_form %}
            </div>
        </div>

        <div class="d-flex flex-wrap justify-content-between align-items-center py-3 page-bottom">
            <div class="col-md-4 d-flex align-items-center">
                <a href="{% url 'site-home' %}" class="me-2 text-muted text-decoration-none lh-1 wipe-transition">
                    <img class="icon " width="24" height="24" src = "{% static 'main_site/img/logos/pied-piper.svg' %}">
                </a>
                <span class="text-muted">{% now "Y" %} SIMONE</span>
            </div>
        
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-muted" href="https://www.w3schools.com/css/css3_animations.asp" target="_blank"><img class="icon " width="24" height="24" src = "{% static 'main_site/img/logos/instagram.svg' %}"></a></li>
                <li class="ms-3"><a class="text-muted wipe-transition" href="#"><img class="icon " width="24" height="24" src = "{% static 'main_site/img/logos/facebook.svg' %}"></a></li>
                <li class="ms-3"><a class="text-muted wipe-transition" href="#"><img class="icon " width="24" height="24" src = "{% static 'main_site/img/logos/linkedin.svg' %}"></a></li>
                <li class="ms-3"><a class="text-muted wipe-transition" href="#"><img class="icon " width="24" height="24" src = "{% static 'main_site/img/logos/x-twitter.svg' %}"></a></li>
            </ul>
        </div>


    </footer>
  </div>